

.baby-icon {
  max-width: 80%;
  margin: auto;

}


.list-small-heading {
    font-size: 20px;
}

.card-heading {
    font-size: 25px;
}





.featurette-divider {
  margin: 3.5rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
    font-size: 30px;
}

.featurette-heading {
    margin-top: 0rem;
}

.lead {
  font-size: 1.10rem;
  font-weight: 300;
}



.btn-outline-pink {
  color: #ffa5ce;
  border-color: #ffa5ce;
}

.btn-outline-pink:hover {
  color: #fff;
  background-color: #ffa5ce;
  border-color: #ffa5ce;
}

.btn-outline-pink:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem #ffa5ce;
}

.btn-outline-pink.disabled, .btn-outline-success:disabled {
  color: #ffa5ce;
  background-color: transparent;
}

.btn-outline-pink:not(:disabled):not(.disabled):active, .btn-outline-pink:not(:disabled):not(.disabled).active,
.show > .btn-outline-pink.dropdown-toggle {
  color: #fff;
  background-color: #ffa5ce;
  border-color: #ffa5ce;
}

.btn-outline-pink:not(:disabled):not(.disabled):active:focus, .btn-outline-pink:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-pink.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #ffa5ce;
}


/*
.card-font {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 200;
  color: #5f94bf;
  font-size: 14px;
}
*/

.card-centering {
  width: 70%;
  margin: auto;
}

.card {
  position: relative;
  display: block;
  width: 50%;
  margin: auto;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
}

.card-pink {
  border: 1px solid grey;
  background-image: linear-gradient(#fef6f5, 80%, #fbe1df);
}

.card-blue {
  border: 1px solid grey;
  background-image: linear-gradient(white, 80%, #e7f5fc);
  /*background-color: #e7f5fc;*/
}


/*
.card-deck {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
*/

.card-body {
  display: inline-block;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  padding-top: 0.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
}

.card-header-pink {
  background-color: #f9acbc;
  border-bottom: 1px solid #fef6f5;
}

.card-header-blue {
  background-color: #89cff0;
  border-bottom: 1px solid #89cff0;
}



ul {
  list-style-type: none;
}

li div {
 display: table-cell; vertical-align: middle;
}

.on-one-line {
    display: inline-block;
}


/*offsetting HTML anchor to adjust for fixed header*/
.anchor-offset-1 {
    position:relative;
}

.anchor-offset-2 {
    position:absolute;
    top:-110px;
}

/*
input {
    width: 20px;

    position: relative;
    left: 200px;

    vertical-align: middle;
}

li {
    width: 200px;

    position: relative;
    left: -20px;

    display: inline-block;
    vertical-align: middle;
}


/*testing remote commits*/


/*
html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    margin: 0;
    height: 100%;
}

.container {
    margin: auto;
    padding: 1em;
    width: 80%;
}

.destination-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.destination {
    background: #03a9f4;
    box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.4);
    color: white;
    margin: 0.5em;
    min-height: 200px;
    flex: 0 1 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    margin: 0;
    transform: rotate(-45deg);
    text-shadow: 0 0 5px #01579b;
}

#florida {
    background-color: #03a9f4;
}

#paris {
    background-color: #d32f2f;
}
*/
